<div>
	<h1>게시판</h1>
	<div>
		<a href="/bbs/insert"><button id="btn-insert">글쓰기</button>
		</a>
		<form name="frm">
			<select name="key">
				<option value="title">제목</option>
				<option value="contents">내용</option>
				<option value="uid">작성자(아이디)</option>
				<option value="uname">작성자(이름)</option>
			</select>
			<input name="word" placeholder="검색어"/>
			<button>검색</button>
			검색수:<span id="total"></span>
		</form>
	</div>
	<div id="div_list"></div>
	<div>
		<button id="prev">이전</button>
		<span id="page"></span>
		<button id="next">다음</button>
	</div>
	<script id="temp_list" type="x-handlebars-template">
		{{#each documents}}
			<div>
				<a href="/bbs/read/{{bid}}">{{bid}}.{{title}} {{uname}}({{uid}})</a>
				<span style="color:red">{{viewcnt}}</span>
			</div>
		{{/each}}
	</script>
</div>
<script>
	
	let page=1;
	let size=5;
	let key=$(frm.key).val();
	let word=$(frm.word).val();
	getList();
	
	$(frm).on("submit", function(e){
		e.preventDefault();
		key=$(frm.key).val();
		word=$(frm.word).val();
		page=1;
		getList();
	});
	
	$("#prev").on("click", function(){
		page--;
		getList();
	});
	
	$("#next").on("click", function(){
		page++;
		getList();
	});
	
	function getList(){
		$.ajax({
			type:"get",
			url:"/bbs/list.json",
			data:{page, size, key, word},
			dataType:"json",
			success:function(data){
				const temp=Handlebars.compile($("#temp_list").html());
				$("#div_list").html(temp(data));
				console.log(data);
				$("#total").html(data.total);
				const last = Math.ceil(data.total/size);
				$("#page").html(page + "/" + last);
				
				if(page==1) $("#prev").attr("disabled", true);
				else $("#prev").attr("disabled", false);
				if(page==last) $("#next").attr("disabled", true);
				else $("#next").attr("disabled", false);
			}
		});
	}
</script>