<div xmlns:th="http://www.thymeleaf.org">
	<form name="frm">
		<input name="title" th:value="${bbs.title}" size="52"><br>
		<textarea name="contents" th:text="${bbs.contents}" rows=10 cols=50></textarea>
		<div>
			<button>수정</button>
			<button type="reset">취소</button>
		</div>	
	</form>
</div>
<script>
	const bid="[[${bbs.bid}]]";
	
	$(frm).on("submit", function(e){
		e.preventDefault();
		if(!confirm("정말로 수정하실래요?")) return;
		$.ajax({
			type:"post",
			url:"/bbs/update",
			data:{title:$(frm.title).val(), contents:$(frm.contents).val(), bid},
			success:function(){
				location.href="/bbs/read/" + bid;
			}	
		});
	});
</script>