<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
<body>
	<h1>사용자목록</h1>
	<a href="/users/insert">회원가입</a>
	<form name="frm">
		<select id="key">
			<option value="uid">아이디</option>
			<option value="uname">이름</option>
			<option value="address1">주소</option>
			<option value="phone">전화</option>
		</select>
		<input name="word" placeholder="검색어">	
		<button>검색</button>
			검색수:<span id="total"></span>
	</form>
	<div id="div_list"></div>
	<div>
		<button id="prev">이전</button>
		<span id="page">1</span>
		<button id="next">다음</button>
	</div>
	<script id="temp_list" type="handlebars-template">
		<table border=1>
			{{#each documents}}
				<tr>
					<td><a href="/users/read/{{uid}}">{{uid}}({{uname}})</a></td>
					<td>{{phone}}</td>
					<td>{{address1}} {{address2}}</td>
					<td>{{fmtdate}}</td>
				</tr>
			{{/each}}
		</table>
	</script>
</body>
<script>
	let page=1;
	let size=4;
	let key=$(frm.key).val();
	let word=$(frm.word).val();
	
	$(frm).on("submit", function(e){
		e.preventDefault();
		key=$(frm.key).val();
		word=$(frm.word).val();
		page=1;
		getList();
	});
	
	$("#next").on("click", function(){
		page++;
		getList();
	});
	
	$("#prev").on("click", function(){
		page--;
		getList();
	});
	
	getList();
	function getList(){
		$.ajax({
			type:"get",
			url:"/users/slist.json",
			dataType:"json",
			data:{page, size, key, word},
			success:function(data){
				console.log(data);
				const temp=Handlebars.compile($("#temp_list").html());
				$("#div_list").html(temp(data));
				const last=Math.ceil(data.total/size);
				
				$("#page").html(page + "/" + last);
				$("#total").html(data.total);
				
				if(page==1) $("#prev").attr("disabled", true);
				else $("#prev").attr("disabled", false);
				
				if(page==last) $("#next").attr("disabled", true);
				else $("#next").attr("disabled", false);
			}
		})
	}
</script>
</html>