<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>사용자 정보수정</title>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body xmlns:th="http://www.thymeleaf.org">
	<h1>사용자 정보수정</h1>
	<form name="frm">
		<input name="uid" th:value="${user.uid}"><br>
		<input name="uname" th:value="${user.uname}"><br>
		<input name="phone" th:value="${user.phone}"><br>
		<input name="address1" th:value="${user.address1}" size="50"><br>
		<input name="address2" th:value="${user.address2}"><br>
		<button>수정</button>
		<button type="reset">취소</button>
	</form>
</body>
	<script>
	$(frm).on("submit", function(e){
		e.preventDefault();
		if(!confirm("사용자정보를 수정하실래요?")) return;
		$.ajax({
			type:"post",
			url:"/users/update",
			contentType:"application/json",
			data:JSON.stringify({
				uid:$(frm.uid).val(),
				uname:$(frm.uname).val(),
				phone:$(frm.phone).val(),
				address1:$(frm.address1).val(),
				address2:$(frm.address2).val()
			}),
			success:function(){
				alert("수정완료");
				location.href="/users/read/" + $(frm.uid).val();
			},
			error:function(){
				alert("수정실패");
			}
		});
	});
	</script>
</html>