<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BBSMapper">
	<insert id="insert">
		insert into bbs(uid, title, contents)
		values(#{uid}, #{title}, #{contents})
	</insert>
	<update id="update">
		update bbs
		set title=#{title}, contents=#{contents}
		where bid=#{bid}
	</update>


	<delete id="delete">
		delete from bbs where bid=#{bid}
	</delete>
	
	
	<select id="read" resultType="com.example.domain.BBSVO">
		select * from view_bbs
		where bid=#{bid}
	</select>
	
 	<select id="list" resultType="hashmap">
 		select *, date_format(regdate,'%Y년%m월%d일 %T') as fmtdate
		from view_bbs
		<if test="key=='uid'">where uid like #{word}</if>
		<if test="key=='uname'">where uname like #{word}</if>
		<if test="key=='title'">where title like #{word}</if>
		<if test="key=='contents'">where contents like #{word}</if>
		order by bid desc
		limit #{start}, #{size} ;
 	</select>
 	<select id="total" resultType="int">
 		select count(*)
 		from view_bbs
 		<if test="key=='uid'">where uid like #{word}</if>
		<if test="key=='uname'">where uname like #{word}</if>
		<if test="key=='title'">where title like #{word}</if>
		<if test="key=='contents'">where contents like #{word}</if>
 	</select>
</mapper>