<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GrapperMapper">
	<select id="deptCount" resultType="hashmap">
		select dept, count(scode) count
		from students
		group by dept;
	</select>
	<select id="scodeAvg" resultType="hashmap">
		select e.scode, sname, dept, format(avg(grade),2) avg
		from enrollments e inner join students s on e.scode=s.scode
		group by scode
		order by sname;
	</select>
 	<select id="lcodeAvg" resultType="hashmap">
		select e.lcode, c.lname, format(avg(grade),2)  avg
		from enrollments e, courses c
		where e.lcode=c.lcode
		group by lcode
		having avg>0;
 	</select>
</mapper>