<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProMapper">
 	<select id="list" resultType="com.example.domain.ProVO">
 		select *
		from professors
		where  dept like #{word}
		order by pcode desc
		limit #{start}, #{size};
 	</select>
 	<select id="total" resultType="int">
 		select count(*)
 		from professors
 	</select>
</mapper>